.login-container {
    height: 100vh;
    background-color: #343541;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container .login-box {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.login-container .logo-front {
    width: 150px;
    height: 150px;
    padding: 5px;
    border-radius: 50%;
    border: 4px solid #202123;
    margin-top: -150px;
}

.login-container .txt-animation {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}