.ai-type-overlay {
    position: absolute;
    top: 30px;
    right: 0px;
    padding: 20px;
}

.ai-type-overlay > div {
    padding: 15px;
    background-color: darkgray;
    margin: 20px;
    border-radius: 0.375rem;
    cursor: pointer;
}

.ai-type-overlay > div:hover {
    background-color: gray;
}

.ai-type-overlay > div.active {
    background-color: #202123;
    color: white;
    box-shadow: gray 0px 0px 9px 0px;
    cursor: auto;
}